@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#instagram {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
  linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

body {
  font-family: 'Mitr', sans-serif;
  background-size: 1980px 1080px;
  background-position-x: center;
  object-fit: cover;
}

.Content1 {
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fadecontent {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: 0;}
  to { opacity: 1;}
}

  .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

  .overlay-content {
  font-family: 'Mitr', sans-serif;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  }

  .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  font-size: 50px;
  }

  .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  }

  @media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

.menu-active {
  display: block !important;
  transition: 1.3s;
}

.menu {
  position: absolute;
  width: 300px;
  height: 600px;
  margin: 10px;
  margin-top: 110px;
  position: fixed;
  background-image: url("https://images.wallpaperscraft.com/image/single/girl_anime_art_1122488_800x1280.jpg");
  background-size: 400px 640px;
  background-position: center;
  border: 5px solid black;
  border-radius: 40px;
  display: none;
  justify-content: center;
  right: 0;
}

.logo {
  font-family: 'Mitr', sans-serif;
  position: fixed;
  width: 100%;
  height: 100px;
  background-image: url('./edgy_kirihime_yoruka_wallpaper_hd_by_noarin00_dbtzfm0-fullview.png');
  background-position-x: center;
  background-position-y: -90px;
  color: #f1f1f1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}
.content {
  position: fixed;
  top: 10px;
  right: 0;
  margin: 17px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f1f1f1;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.change .bar1 {
  transform:translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform:translate(0, -11px) rotate(45deg);
}

.text1{
  position: relative;
  background-size: 400px 100px;
  background-image: url('city_evening_snowfall_136478_1920x1080\.jpg');
  width: 400px;
  height: 100px;
  border: 5px solid #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  
  transition: 0.5s;
}

.P1 i {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
  linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.P1 p {
  width: 220px;
  height:250px;
  margin: 5px;
  font-family: 'Mitr', sans-serif;
  font-size: 16px;
}

.P1 {
  position: fixed;
  bottom: auto;
  margin: 10px;
  width: 270px;
  height:340px;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 20px;
}

.P21 {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.P2:hover {
  background-color: rgba(190, 190, 190, 0.9);
}

.P2 {
  
  font-size: 16px;
  text-align: center;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  margin: auto;
  margin-bottom: 5px;
}

.h2 h2 {
  width: 150px;
  margin: 15px;
  color: #f1f1f1;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 20px;
}

.h2 h2 i {
  font-size: 20px;
  color: rgb(247, 29, 29);
  margin-left: 10px;
}

ul {
  font-family: 'Mitr', sans-serif;
  margin: 10px;
  color: aqua;
  transition: 0.3s;
}

ul:hover {
  color: #f1f1f1;
  font-size: 35px;
  transition: 0.3s;
}

.tapbar-active {
  display: block !important;
}

.tapbar {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
}

.flex {
  position: fixed;
  width: 140px;
  height: 140px;
  border: 20px solid rgb(0, 155, 207);
  border-top: 20px solid hsl(182, 100%, 66%);
  border-radius: 360px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}

#Profile {
  display: flex;
  justify-content: center;
}

#Profile img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 120px;
  height: 120px;
  border-radius: 150px;
}

#Profile span {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 150px;
  text-align: center;
  font-family: 'Oswald';
  color: #fff;
  font-size: 25px;
}
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

.container {
	position: fixed;
  top: 200px;
  left: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1em;
	width: 500px;
	height: 350px;
	transition: all 400ms;
}

.container:hover .box {
	filter: grayscale(100%) opacity(24%);
}

.box {
	position: relative;
	background: var(--img) center center;
	background-size: cover;
	transition: all 400ms;
	display: flex;
	justify-content: center;
	align-items: center;
  border-radius: 20px;
}

.container .box:hover {
	filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
	grid-template-columns: 2fr 1fr 1fr;
}

.container:has(.box-2:hover) {
	grid-template-columns: 1fr 2fr 1fr;
}

.container:has(.box-3:hover) {
	grid-template-columns: 1fr 1fr 2fr;
}

.box:nth-child(odd) {
	transform: translateY(-16px);
}

.box:nth-child(even) {
	transform: translateY(16px);
}

.box:hover::after {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 400ms;
}

.boxm {
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 110px;
  right: 320px;
  width: 310px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  border: 5px solid black;
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --black: #373737;
  --sect1: #ff9900;
  --sect2: #2196F3;
  --sect3: #e63232;
}
.head {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: linear-gradient(0deg, #fff0 0px, var(--black) 1px 100%);
  text-align: center;
  display: flex;
  transition: all 0.5s ease 0s;
}

.head a {
  color: #fff;
  text-decoration: none;
  padding: 16px 10px;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 1.6rem;
  border: 2px solid #000;
  border-top-width: 0px;
  border-bottom-width: 4px;
}

.head a:first-child {
  border-left-width: 0;
}

.head a:last-child {
  border-right-width: 0;
}

.head a:hover {
  background: linear-gradient(90deg, var(--clr) 0 50%, var(--black) 0 100%);
  background-size: 200%;
  background-position: 100% 0;
  animation: colorize 0.5s ease 0s;
  animation-fill-mode: forwards;
  transition: all 0.5s ease 0s;
}

@keyframes colorize {
  100% { background-position: 0 0; }
}

.head a:nth-child(1):hover {
  --clr: var(--sect1);
}

.head a:nth-child(2):hover {
  --clr: var(--sect2);
}

.head a:nth-child(3):hover {
  --clr: var(--sect3);
}

.head:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, var(--sect1) 0 calc(20vw - 3px), var(--sect2) 0 calc(40vw - 6px), var(--sect3) 0 calc(60vw - 10px));
  animation: progress linear;
  animation-timeline: scroll(root);
}

section {
  height: 500px;
  width: 100%;
  font-size: 4rem;
  color: #fff;
  padding-top: 30px;
  border-bottom: 4px solid #000;
}

section h2, section p {
  margin: 10px;
  width: 100%;
}

section p {
  font-size: 1.5rem;
}

#game {
  background-color: var(--sect1);
}

#like {
  background-color: var(--sect2);
}

#me {
  background-color: var(--sect3);
}